@{
    Layout = "~/Views/Home/sayfaYapisi.cshtml";
}
@section slider{
    <img src="~/images/eriskinPsikolojisi.jpg" style="width:1000px;height:270px;"/>
}
@section govdesagicerik{
    <h1 style="margin-left:250px;">Erişkin Psikolojisi</h1>
}