
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section slider{
<div>
    <!---------------slider başlangıç-------------------->
    @RenderSection("slider", false)
    <!---------------slider bitiş------------------->
</div>
}

@section govde{

    <div class="govde">
        <div class="govdesol">
            <div class="govdesolbaslik"><h3 style="color:black; text-align:center; margin-top:10px;">KATEGORİLER</h3></div>
            <div class="govdesolicerik">
                <div style="margin-left:70px;margin-top:10px;">
                 


                </div>
            </div>
        </div>
        <div class="govdesag">
            @RenderSection("govdesagicerik",false)
        </div>
    </div>




}